In [1]:
import pandas as pd
data=pd.read_table('./data/datingTestSet2.txt',sep='\t',header=None)
data.head()
#测试常用的人工智能算法，如：线性回归、k近邻算法、支持向量机算法

       0          1         2  3
0  40920   8.326976  0.953952  3
1  14488   7.153469  1.673904  2
2  26052   1.441871  0.805124  1
3  75136  13.147394  0.428964  1
4  38344   1.669788  0.134296  1